@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  @apply text-gray-800 font-light leading-relaxed font-sans;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-serif font-bold leading-none
}

#content a,
.front a {
  position: relative;
  display: inline-block;
}

#content a::after,
.front a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  transition: width .3s;
  background: #2F855A;
}

#content a::before,
.front a::before {
  content: "";
  background: rgba(47, 133, 90, 0.1);
  width: 0;
  left: 0;
  position: absolute;
  height: 100%;
  transition: width .3s;
}

#content a:hover::after,
.front a:hover::after {
  width: 0;
}

#content a:hover::before,
.front a:hover::before {
  width: 100%;
}

#content h2,
#content h3 {
  @apply mt-8
}

#content p,
#content ul {
  @apply mt-4;
}

h1 {
  @apply text-3xl mt-4 px-4;
}

#content h2 {
  @apply text-xl;
}

#content h3 {
  @apply text-base;
}

#content ul {
  @apply list-disc pl-10;
}

@screen sm {
}

@screen md {
  #content p,
  #content ul {
    @apply mt-6 text-lg;
  }

  #content h2 {
    @apply mt-12 text-2xl;
  }

  #content h3 {
    @apply text-lg;
  }

  h1 {
    @apply text-4xl mt-8
  }
}

@screen lg {
  #content p,
  #content ul {
    @apply mt-8 text-xl;
  }

  #content h3 {
    @apply text-xl;
  }

  h1 {
    @apply text-5xl mt-10;
  }

  #content h2 {
    @apply text-2xl mt-16;
  }
}

@screen xl {
  h1 {
    @apply text-6xl mt-12;
  }

  #content h2 {
    @apply text-3xl mt-20;
  }
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
p::selection,
span::selection,
a::selection,
.social-link::selection,
.nav-link a::selection,
figcaption::selection {
  @apply bg-green-700 text-white;
}

h1::-moz-selection,
h1::-moz-selection,
h2::-moz-selection,
h3::-moz-selection,
h4::-moz-selection,
h5::-moz-selection,
h6::-moz-selection,
p::-moz-selection,
span::-moz-selection,
a::-moz-selection,
.social-link::-moz-selection,
.nav-link a::-moz-selection,
figcaption::-moz-selection {
  @apply bg-green-700 text-white;
}

blockquote {
  @apply m-0;
}

blockquote p {
  @apply text-xl font-serif text-left font-bold leading-normal;
}